/* CSS declarations go here */
.hidden {
    display: none;
}

.correct {
    color: green;
    font-weight: bold;
}

.wrong, .wrong_given {
    color: red;
}

.wrong_given {
    font-weight: bold;
}
